body{background-color:pink;color:white;}
	h1 {letter-spacing:10px;word-spacing:30px;text-transform:capitalize;}
.resaltado{color:#000000;font-style:italic;background-color:#ffff00;}
	p {text-indent:20px;}
